<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
        rel="stylesheet" />
    <title>Wikipedia Data</title>
</head>

<body style="
      display: flex;
      min-height: 100vh;
      max-width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 100px 0 100px;
    ">

    <div class="navbar">
        <ul>
            <li>
                <a href="/weatherPage">Main</a>
            </li>
            <li>
                <a href="/history">History</a>
            </li>
            <% if (isAdmin) { %>
                <li><a href="/adminPage.html">Users</a></li>
            <% } %>
            <li>
                <a href="/">Exit</a>
            </li>
        </ul>
    </div>
    <h1 id="city">
        <%= city %>
    </h1>
    <%- include('./components/content.ejs') %>
        <div id="photo" style="width: 500px; height: auto; margin: 20px 0 100px 0"></div>
        <footer class="footer">
            <h3>Samat SE-2206</h3>
        </footer>


        <style>
            .navbar {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background-color: #333;
                padding: 10px 0;
                text-align: center;
                z-index: 1000;
            }

            .navbar ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            .navbar li {
                display: inline;
                margin: 0 10px;
            }

            .navbar a {
                color: white;
                text-decoration: none;
            }

            .navbar a:hover {
                text-decoration: underline;
            }

            .footer {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #333;
                padding: 10px 0;
                text-align: center;
                z-index: 1000;
                color: white;
            }
        </style>

        <script src="../../js/wikipedia.js"></script>
</body>

</html>