<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <title>Wikipedia Data</title>
</head>
<body style="display: flex; min-height: 100vh; max-width: 100%; flex-direction: column; justify-content: center; align-items: center; padding: 40px 100px 0 100px;">
    <h1 id="city"><%= city %></h1>
    <%- include('./components/content.ejs') %>
    <div id="photo" style="width: 500px; height: auto;  margin: 20px 0;"> </div>
    <footer>
        <h3>Samat SE-2206</h3>
    </footer>

    <script src="../../js/wikipedia.js"></script>
</body>
</html>