<div style="display: flex; flex-direction: column; text-align: center; padding: 10px; border: 1px solid black; border-radius: 10px;">
    <p style="font-size: 18px; font-family: 'Poppins'; font-weight: 500;">
        <%= wikipediaData %>
    </p>
</div>